extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Mackewinsson

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p I will make your life simpler with great project with the latest technologies
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Nodejs
          li Javascript
          li Html
          li Css
          li Bootstrap
          li Web scraping
        h6 Contact Info

        //- Add your own contact info
        ul
          li +569 49363030
          li mackewinsson@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/mackewinsson-palencia-29876b105/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/mackewinsson' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/Mackewinsson' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  